<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.showmap.mapper.ShowMapMapper">

    <select id="getZoneList" parameterType="param" resultType="zone" >
        <![CDATA[
            /* 충남코드조회 */
            SELECT Z.COUNTRY_CODE as countryCode
                   ,Z.CODE as code
                   ,Z.NAME as name
                   ,Z.START_TIME as startTime
                   ,Z.END_TIME as endTime
                   ,Z.TYPE as type
            FROM RD_ZONE Z
            WHERE Z.CODE like 'KOR44%' AND Z.CODE like '%00000' AND NOT Z.CODE like '%00000000' AND Z.END_TIME IS NULL;

        ]]>
    </select>

    <select id="getProjectStatusList" parameterType="param" resultType="projectStatus" >
        <![CDATA[
            /* 서산시 사업현황 */
            SELECT  SUBSTR(Z.CODE,1,11) as code     /* 행정구역코드 */
                    ,SUBSTRING_INDEX((SELECT NAME FROM RD_ZONE WHERE CODE = concat(SUBSTR(Z.CODE,1,11),'00')),' ', -1) as zoneName /* 행정구역명 */
                    ,COUNT(1) as totalBusiness
                    ,sum(if(u.BUSINESS_NAME = (select name from RD_BUSINESS where name_code = 1),1,0)) as businessName1
                    ,sum(if(u.BUSINESS_NAME = (select name from RD_BUSINESS where name_code = 2),1,0)) as businessName2
                    ,sum(if(u.BUSINESS_NAME = (select name from RD_BUSINESS where name_code = 3),1,0)) as businessName3
                    ,sum(if(u.BUSINESS_NAME = (select name from RD_BUSINESS where name_code = 4),1,0)) as businessName4
                    ,sum(if(u.BUSINESS_NAME = (select name from RD_BUSINESS where name_code = 5),1,0)) as businessName5
                    ,sum(if(u.BUSINESS_NAME = (select name from RD_BUSINESS where name_code = 6),1,0)) as businessName6
                    ,sum(if(u.BUSINESS_NAME = (select name from RD_BUSINESS where name_code = 7),1,0)) as businessName7
                    ,sum(if(u.BUSINESS_NAME = (select name from RD_BUSINESS where name_code = 8),1,0)) as businessName8
                    ,sum(if(u.BUSINESS_NAME = (select name from RD_BUSINESS where name_code = 9),1,0)) as businessName9
                    ,sum(if(u.BUSINESS_NAME = (select name from RD_BUSINESS where name_code = 10),1,0)) as businessName10
                    ,sum(if(u.BUSINESS_NAME = (select name from RD_BUSINESS where name_code = 11),1,0)) as businessName11
                    ,sum(if(u.BUSINESS_NAME = (select name from RD_BUSINESS where name_code = 12),1,0)) as businessName12
                    ,sum(if(u.BUSINESS_NAME = (select name from RD_BUSINESS where name_code = 13),1,0)) as businessName13
                    ,sum(if(u.BUSINESS_NAME = (select name from RD_BUSINESS where name_code = 14),1,0)) as businessName14
                    ,sum(if(u.BUSINESS_NAME = (select name from RD_BUSINESS where name_code = 15),1,0)) as businessName15
            FROM RD_PROJECT_UNIT u
                INNER JOIN RD_VILLAGE V ON u.VILLAGE_NAME = V.NAME
                INNER JOIN RD_ZONE Z ON V.ZONE_CODE = Z.CODE
            WHERE Z.CODE like #{code} /* 충남코드입력(KOR+5자리) */
            GROUP BY SUBSTR(Z.CODE,1,11)

        ]]>
    </select>

</mapper>