<!DOCTYPE html>
<html lang="en"
      xmlns         = "http://www.w3.org/1999/xhtml"
      xmlns:th= "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Scheduling Server</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/dist/css/bootstrap.css}" />
</head>
<body>
<div class="container">
    <div class="row">

    </div>

</div>


<script th:src="@{/webjars/jquery/3.1.1/jquery.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7/dist/js/bootstrap.js}"></script>
<th:block>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/

        /*]]>*/
    </script>
</th:block>
</body>
</html>